@font-face {
	font-family: marlett;
	src: url(./fonts/Marlett.ttf);
}

@font-face {
	font-family: MajorMono;
	src: url(./fonts/MajorMonoDisplay-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #212121;
	overflow: scroll;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/* Menu Section */

.Menu {
	background-color: #212121;
	width: 25vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-flow: column;
	font-family: 'MajorMono';
	box-shadow: -13px 0px 21px -9px rgba(0, 0, 0, 0.69);
	position: fixed;
	z-index: 9000;
	border-left: 5px solid #d18a74;
}

.Menu-main-divider {
	height: 2vh;
	width: 80%;
	background-color: #d18a74;
	margin-bottom: 5rem;
}

.Menu-header {
	height: 5vh;
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
	padding: 1.2em 0.8em;
	font-size: 2.8em;
}

.Menu-header-close {
	cursor: pointer;
	color: #d18a74;
	transition: all 0.2s ease-in-out;
}

.Menu-header-close:hover {
	color: #fff;
	letter-spacing: -0.25rem;
}

.Menu-main {
	height: 95vh;
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 2rem;
}

.Menu-item {
	color: #fff;
	font-size: 2rem;
	padding: 1em 0;
	cursor: pointer;
	width: 100%;
	text-align: center;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

.Menu-item:hover {
	color: #d18a74;
}

.Menu-underlayer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #212121;
	background: linear-gradient(to left, rgba(151, 110, 83, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
	opacity: 0.6;
	width: 100vw;
	height: 100vh;
	z-index: 500;
	position: fixed;
}

/* Animate menu-under-layer */
.hide-layer {
	animation: hide-layer 1.2s ease-in-out;
}

.hide-layer-disabled {
	transform: translateX(100%);
	display: none;
}

.reveal-layer {
	animation: reveal-layer 1.2s ease-in-out;
}

@keyframes reveal-layer {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes hide-layer {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(100%);
		opacity: 0;
	}
}

/*  */

/* Animate menu on/ off */

.hidden {
	transform: translateX(500px);
}

.hide {
	animation: hide-menu 1s ease-in-out;
}

.reveal {
	animation: reveal-menu 0.8s ease-in-out;
}

@keyframes reveal-menu {
	0% {
		transform: translateX(500px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes hide-menu {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(500px);
	}
}

/* Home Section */
.Home {
	background: url(./images/bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
/* Header Section */
.Home-header {
	padding: 10px;
	font-size: 28px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 10vh;
	position: fixed;
}

.Home-header-name {
	color: #fff;
	animation: slideIn 2s ease-in-out;
}

@keyframes slideIn {
	from {
		transform: translateX(-200%);
	}
	to {
		transform: translateX(0);
	}
}

.Home-header-title {
	color: #d18a74;
	font-size: 24px;
	animation: slideInBottom 2.5s ease-in-out;
}

.Home-header-menu {
	color: #d18a74;
	font-size: 40px;
	padding: 10px 20px;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	letter-spacing: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Home-header-menu:hover {
	color: #fff;
	transform: rotate(90deg);
	letter-spacing: 0;
}
/* Home Main section */

.Home-main {
	padding-top: 20vh;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
}

.Home-main #firstName,
.Home-main #lastName {
	animation: fadeInTop 1.8s ease-in-out;
}

@keyframes fadeInTop {
	from {
		transform: translateY(-200%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.Home-main-divider {
	height: 2vh;
	width: 60vw;
	background-color: #d18a74;
	position: relative;
	margin-top: 3vh;
	animation: loadBar 1s ease-in-out;
}

@keyframes loadBar {
	from {
		transform: scaleX(0);
		opacity: 0;
	}

	to {
		transform: scaleX(60vw);
		opacity: 1;
	}
}

.Home-main-icons {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

.Home-main-icon {
	height: 4rem;
	width: 4rem;
	background: #fff;
	border-radius: 50%;
	margin: 0 2rem;
}

.icon1,
.icon2,
.icon3,
.icon4 {
	opacity: 0;
}

.Home-main-icons .icon1 {
	background: url(./images/github.png);
	background-color: #d18a74;
	background-size: contain;
	transition: all 0.3s ease-in-out;
	animation: slideInTop 1s forwards ease-in-out;
	animation-delay: 0.25s;
}

.Home-main-icons .icon2 {
	background: url(./images/linkdin.png);
	background-color: #d18a74;
	background-size: contain;
	transition: all 0.3s ease-in-out;
	animation: slideInLeft 1s forwards ease-in-out;
	animation-delay: 0.5s;
}

.Home-main-icons .icon3 {
	background: url(./images/codepen.png);
	background-color: #d18a74;
	background-size: contain;
	transition: all 0.3s ease-in-out;
	animation: slideInRight 1s forwards ease-in-out;
	animation-delay: 0.75s;
}

.Home-main-icons .icon4 {
	background: url(./images/email.png);
	background-color: #d18a74;
	background-size: contain;
	transition: all 0.3s ease-in-out;
	animation: slideInBottom 1s forwards ease-in-out;
	animation-delay: 1s;
}

@keyframes slideInLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}

	to {
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes slideInBottom {
	from {
		transform: translateY(100%);
		opacity: 0;
	}

	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes slideInTop {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}

	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}

	to {
		transform: translateX(0%);
		opacity: 1;
	}
}

#firstName,
#lastName {
	font-size: 62px;
	color: #fff;
	padding: 0.6vh 0;
}

.scrambled {
	font-family: marlett;
}

.decoded {
	font-family: 'MajorMono';
}

.accent-color {
	color: #d18a74;
}

.Home-main-scroll {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding-top: 32vh;
	width: 100%;
	height: 10vh;
}

.Home-main-scroll-icon {
	height: auto;
	width: 8%;
	animation: bounce 1.25s ease-in-out infinite;
}

@keyframes bounce {
	0% {
		transform: translate(0);
	}

	50% {
		transform: translateY(6%);
	}

	100% {
		transform: translate(0);
	}
}

/* Projects Section */

.Projects {
	height: 100vh;
	width: 100vw;
	background-color: #212121;
	display: flex;
	flex-flow: column;
}

/* Projects Header */
.Projects-header {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-end;
	width: 100vw;
	height: 15vh;
}

.Projects-header-divider {
	height: 2vh;
	width: 60vw;
	background-color: #d18a74;
	position: relative;
	margin-top: 3vh;
}

.Projects-header-title {
	color: #fff;
	font-size: 24px;
	font-family: 'MajorMono';
	padding-right: 0.5rem;
}

/* Projects Main */
.Projects-main {
	width: 100vw;
	height: 95vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-left: 4vw;
}

.Projects-main-row {
	display: flex;
	flex-flow: row;
	width: 60vw;
	height: 30vh;
}

.Projects-main-divider {
	height: 0.6vh;
	width: 60vw;
	background-color: #d18a74;
	position: relative;
}

.Project-item {
	height: 100%;
	width: 50%;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.Project-preview {
	height: 100%;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.Project-preview-button {
	width: 100%;
	height: 100%;
	background-color: #d18a7473;
	transition: all 0.5s ease-in-out;
	transform: translateY(500%);
	font-family: 'MajorMono';
}

.Projects-preview-title {
	color: #fff;
	transition: all 1s ease-in-out;
	transform: translateX(200%);
}

.Project-preview:hover .Project-preview-button {
	transform: translateY(0);
}

.Project-preview:hover .Projects-preview-title {
	transform: translateX(0);
}

.Projects-preview-bottom {
	height: 60%;
	width: 100%;
	background-color: blue;
	align-self: flex-end;
	transition: all 1s ease-in-out;
	transition-delay: 0.2s;
	transform: translateY(500%);
}

.Project-preview:hover .Projects-preview-bottom {
	transform: translateY(0);
}

/* About Section */
.About {
	height: 100vh;
	width: 100vw;
	background: url(./images/bg2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	overflow: hidden;
	display: flex;
	flex-flow: column;
}

/* About Header */
.About-header {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-end;
	width: 100vw;
	height: 15vh;
}

.About-header-divider {
	height: 2vh;
	width: 60vw;
	background-color: #d18a74;
	position: relative;
	margin-top: 3vh;
}

.About-header-title {
	color: #fff;
	font-size: 24px;
	font-family: 'MajorMono';
	padding-right: 0.5rem;
}

/* About Main */

.About-main {
	width: 100vw;
	height: 20vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-left: 4.8vw;
}

.About-main-text {
	padding-top: 2rem;
	width: 60vw;
	color: #fff;
	font-size: 18px;
	font-family: 'MajorMono';
}

/* Skills section */

.Skills {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 35vh;
	width: 100%;
}

.Skills-backend,
.Skills-frontend {
	width: 30%;
	height: 100%;
	color: #fff;
	font-size: 18px;
	font-family: 'MajorMono';
}

.Skills-backend h2,
.Skills-frontend h2 {
	border-bottom: 2px solid #d18a74;
	padding-top: 2rem;
	width: 12rem;
}

.Skills-backend ul li,
.Skills-frontend ul li {
	list-style: none;
	padding: 0.5rem;
}

/* Contact Section */

.Contact {
	height: 100vh;
	width: 100vw;
	background: #212121;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

/* Contact Header */
.Contact-header {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: flex-end;
	width: 100vw;
	height: 15vh;
}

.Contact-header-divider {
	height: 2vh;
	width: 60vw;
	background-color: #d18a74;
	position: relative;
	margin-top: 3vh;
}

.Contact-header-title {
	color: #fff;
	font-size: 24px;
	font-family: 'MajorMono';
	padding-right: 0.5rem;
}

/* Contact Form */

.Contact-main {
	width: 100vw;
	height: 80vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-left: 4.8vw;
	outline: none;
}

.Contact-form {
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 60%;
}

.Form-input {
	height: 2rem;
	margin-top: 0.5rem;
	font-size: 1.2rem;
	width: 45%;
	border-radius: 5px;
	border: 1px solid #d18a74;
	padding: 0.4rem;
	background-color: #2a2a2a;
	outline: none;
	color: #fff;
}

.Form-input-text {
	height: auto;
	margin-top: 0.5rem;
	font-size: 1.2rem;
	width: 45%;
	border-radius: 5px;
	border: 1px solid #d18a74;
	padding: 0.4rem;
	background-color: #2a2a2a;
	outline: none;
	color: #fff;
}

.Form-btn {
	font-size: 1.2rem;
	width: 20%;
	margin-top: 0.5rem;
	border-radius: 5px;
	color: #fff;
	font-family: 'MajorMono';
	border: 1px solid #d18a74;
	padding: 0.4rem;
	background-color: #2a2a2a;
	cursor: pointer;
	outline: none;
}

.Form-btn:hover {
	color: #d18a74;
}

.Contact-main-divider {
	height: 0.6vh;
	width: 70vw;
	background-color: #d18a74;
	position: relative;
}

/* Contact Footer */
.Contact-footer {
	height: 20vh;
	width: 100%;
}

.Contact-footer-icons {
	height: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	padding-left: 10vw;
}

.Contact-footer-icon {
	height: 6em;
	width: 6em;
	background-color: #d18a74;
	border-radius: 50%;
	margin: 0 0.5rem;
}

.Contact-footer-icons .footer-icon1 {
	background: url(./images/github.png);
	background-color: #d18a74;
	background-size: contain;
}

.Contact-footer-icons .footer-icon2 {
	background: url(./images/linkdin.png);
	background-color: #d18a74;
	background-size: contain;
}

.Contact-footer-icons .footer-icon3 {
	background: url(./images/codepen.png);
	background-color: #d18a74;
	background-size: contain;
}

.Contact-footer-icons .footer-icon4 {
	background: url(./images/email.png);
	background-color: #d18a74;
	background-size: contain;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	/* Home Section */
	.Home-main {
		padding-top: 28vh;
	}
	/* Header Section */
	.Home-header {
		padding: 5px 6px;
		font-size: 16px;
	}

	.Home-header-title {
		font-size: 14px;
	}

	.Home-header-menu {
		font-size: 30px;
		padding: 10px 10px;
	}

	/* Home Main Section */

	#firstName,
	#lastName {
		font-size: 36px;
	}

	.Home-main-divider {
		height: 1.8vh;
		width: 80vw;
		margin-top: 2.4vh;
	}

	.Home-main-icons {
		height: 10vh;
	}

	.Home-main-icon {
		height: 3rem;
		width: 3rem;
		background: #fff;
		border-radius: 50%;
		margin: 0 1rem;
	}

	.Home-main-scroll-icon {
		width: 20%;
	}

	/* Projects Section */
	.Projects-header {
		height: 15vh;
	}

	.Projects-header-divider {
		height: 3vh;
		margin-top: 2vh;
	}

	.Projects-header-title {
		width: 40vw;
		font-size: 20px;
		padding: 0 0.5rem;
	}

	.Projects-main {
		padding-top: 10vh;
		margin-left: 0;
	}

	.Projects-main-row {
		width: 100vw;
		height: 25vh;
	}

	.Projects-main-divider {
		height: 0.8vh;
		width: 80vw;
		margin-top: 5vh;
	}

	.Projects-preview-title {
		font-size: 14px;
	}

	/* About Section */
	/* About Header */

	.About-header-divider {
		height: 3vh;
		margin-top: 2vh;
		width: 60vw;
	}

	.About-header-title {
		width: 40vw;
		font-size: 20px;
		padding: 0 0.5rem;
	}

	/* About Main */
	.About-header {
		height: 15vh;
	}

	.About-main {
		height: 25vh;
		margin: 0 1vw;
	}

	.About-main-text {
		padding-top: 2rem;
		width: 94vw;
		font-size: 14px;
	}

	.About-header-divider:last-of-type,
	.About-header-title:last-of-type {
		margin-top: 5vh;
	}

	.Skills {
		margin-top: 5vh;
		height: 60vh;
		justify-content: space-evenly;
	}

	.Skills-backend,
	.Skills-frontend {
		width: 30%;
		font-size: 14px;
		font-family: 'MajorMono';
	}

	/* Contact Section */
	.Contact-main {
		margin-left: 0;
	}
	/* Contact Header */
	.Contact-header {
		height: 15vh;
	}

	.Contact-header-divider {
		height: 3vh;
		margin-top: 2vh;
		width: 60vw;
	}

	.Contact-header-title {
		width: 40vw;
		font-size: 20px;
		padding: 0 0.5rem;
	}

	/* Contact Form */
	.Contact-form {
		width: 90%;
	}

	.Form-input,
	.Form-input-text {
		width: 100%;
	}

	.Form-btn {
		width: 50%;
	}

	/* Contact Footer */
	.Contact-footer-icons {
		padding-left: 0;
	}

	.Contact-footer-icon {
		height: 2.8em;
		width: 2.8em;
	}
}
